# Python
__pycache__/
*.py[cod]
*.pyo

# Environnement virtuel
venv/
.env/
*.env

# Base de données locale
db.sqlite3

# Django
*.log
static/
media/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
