# Python
__pycache__/
*.py[cod]
*.pyo

# Environnement virtuel
.venv/
venv/
.env/
*.env

# Base de données locale
db.sqlite3

# Django
*.log
static/
media/
db.sqlite3
.env
.env.*
media/
staticfiles/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db


# OS / IDE
.vscode/
.idea/
.DS_Store
